<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Workaholics</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        <!-- Template Main CSS File -->
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Workaholics</title>
    </head>

    <body>
        <div class="container row m-auto">
            <!-- for seller -->
            <div class="col-md-6 col-sm-12">
                <article class="card mb-4">
                    <div class="row card-body">
                        <div class="p-3">
                            <h3 class="h3"><a class="post-title" href="post-elements.html">Web development</a></h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item">
                                    <a href="" class="card-meta-author">
                                        <img src=img/clients/client-1.png alt="">
                                        <span>client Name </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-timer"></i>$123445
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-calendar"></i>Due: 23 July 2022
                                </li>
                            </ul>
                            <ul class="list-inline widget-list-inline">
                                <li class="list-inline-item"><a href="">Completed</a></li>
                            </ul>
                            <p>Milestone 1</p>
                            <div class="text-start d-inline">
                                <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                    value="Submit">
                                <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                    value="Details">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-sm-12">
                <article class="card mb-4">
                    <div class="row card-body">
                        <div class="p-3">
                            <h3 class="h3"><a class="post-title" href="post-elements.html">Web development</a></h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item">
                                    <a href="" class="card-meta-author">
                                        <img src=img/clients/client-1.png alt="">
                                        <span>client Name </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-timer"></i>$123445
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-calendar"></i>23 July 2022
                                </li>
                            </ul>
                            <ul class="list-inline widget-list-inline">
                                <li class="list-inline-item"><a href="">In Review</a></li>
                            </ul>
                            <p>Milestone 1</p>
                            <div class="text-start d-inline">
                                <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                    value="Submit">
                                <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                    value="Details">
                            </div>
                        </div>
                    </div>
                </article>
            </div>


            <!-- for buyer -->
            <div class="col-md-6 col-sm-12">
                <article class="card mb-4">
                    <div class="row card-body">
                        <div class="p-3">
                            <h3 class="h3"><a class="post-title" href="post-elements.html">Web development</a></h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item">
                                    <a href="" class="card-meta-author">
                                        <img src=img/clients/client-1.png alt="">
                                        <span>client Name </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-timer"></i>$123445
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-calendar"></i>23 July 2022
                                </li>
                            </ul>
                            <ul class="list-inline widget-list-inline">
                                <li class="list-inline-item"><a href="">Not Funded</a></li>
                            </ul>
                            <p>Milestone 1</p>
                            <div class="text-start d-inline">
                                <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                    value="Submitted">
                                <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                    value="Details">
                                <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                    value="Fund">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Vendor JS Files -->
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/jQuery/jquery.min.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>
    </body>

</html>
